---
import Mainlayout from "./layouts/Mainlayout.astro";

import BlogPost from "./components/BlogPost.astro";

import { siteConfig } from "../config/siteConfig";

import { getCollection } from "astro:content";

const title = "Blog | Astro";

const blogPosts = await getCollection(
	"blog",
	(post) => post.data.isDraft === false,
);

// const blogPosts = await getCollection('blog');

// console.log(blogPosts[0].data.isDraft);

import type { CollectionEntry } from "astro:content";

interface Props {
	post: CollectionEntry<"blog">;
}
---

<Mainlayout title={title}>
	<section class="bg-white dark:bg-gray-900">
		<div class="container px-6 py-10 mx-auto">
			<h1
				class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
			>
				{siteConfig.title}
			</h1>
			<div class="mt-3">
				<a class="mt-2 block" href="/blog/1"> Blog Páginado </a>
				<a class="mt-2 block" href="/authors"> Autores </a>
			</div>
			<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
				{blogPosts.map((blog: Props) => <BlogPost post={blog} />)}
			</div>
		</div>
	</section>
</Mainlayout>
